@model IEnumerable<Shop.Models.OrderDetail>
@{
    ViewData["Title"] = "Indexcheckout";
}

<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="shop.html">shop</a></li>
                                <li class="breadcrumb-item active" aria-current="page">checkout</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- checkout main wrapper start -->

    <div class="checkout-page-wrapper section-padding">
        <form asp-action="Checkout" asp-controller="AddOrder">
            <div class="container">
                <div class="row">
                    <!-- Checkout Billing Details -->
                    <div class="col-lg-5">
                        @{
                            IEnumerable<User> DetailUser = ViewData["User"] as IEnumerable<User>;
                            foreach (User user in DetailUser)
                            {
                                <div class="checkout-billing-details-wrap">
                                    <h4 class="checkout-title">Billing Details</h4>
                                    <div class="billing-form-wrap">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="single-input-item">
                                                    <label for="f_name" class="required">First Name</label>
                                                    <input readonly type="text" id="f_name" required value="@user.Fullname" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="single-input-item">
                                            <label for="email" class="required">Email Address</label>
                                            <input readonly type="email" id="email" required value="@user.Email" />
                                        </div>
                                        <div class="single-input-item">
                                            <label for="state">Address</label>
                                            <input readonly type="text" id="state" value="@user.Address" />
                                        </div>
                                        <div class="single-input-item">
                                            <label for="phone">Phone</label>
                                            <input readonly type="text" id="phone" value="@user.Phone" />
                                        </div>
                                        <div class="single-input-item">
                                            <label for="ordernote">Order Note</label>
                                            <textarea name="ordernote" id="ordernote" cols="30" rows="3" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                        </div>

                                    </div>
                                </div>
                            }
                        }

                    </div>

                    <!-- Order Summary Details -->
                    <div class="col-lg-7">
                        <div class="order-summary-details">
                            <h4 class="checkout-title">Your Order Summary</h4>
                            <div class="order-summary-content">
                                <!-- Order Summary Table -->
                                <div class="order-summary-table table-responsive text-center">



                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Products</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var ord in Model)
                                            {
                                                String productname = "";
                                                IEnumerable<Product> product = ViewData["Product"] as IEnumerable<Product>;


                                                @foreach (Product pro in product)
                                                {
                                                    if (ord.ProductId.Equals(pro.Id))
                                                    {
                                                        productname = pro.ProductName;
                                                    }
                                                }
                                                <tr>
                                                    <td>
                                                        <a href="product-details.html">@productname<strong> × @ord.Quantity</strong></a>
                                                    </td>
                                                    <td>$@ord.Price?.ToString("#,##0.#") * @ord.Quantity</td>
                                                </tr>

                                            }
                                        </tbody>
                                        <tfoot>
                                            @{
                                                double total = 0;
                                                double sale = 0;
                                                String vouchercode = "";
                                                double total_temp = 0;
                                                int? voucherid = 0;
                                            }

                                            @foreach (var item in Model)

                                            {
                                                total_temp = item.Order.TotalPrice;
                                                voucherid = item.Order.VoucherId;
                                                total += Convert.ToDouble(item.Quantity * item.Price);
                                                IEnumerable<Voucher> voucher = ViewData["Voucher"] as IEnumerable<Voucher>;
                                                if (item.Order.VoucherId != null)
                                                {
                                                    foreach (Voucher voucher1 in voucher)
                                                    {
                                                        if (item.Order.VoucherId.Equals(voucher1.Id))
                                                        {
                                                            sale = Convert.ToDouble(voucher1.VoucherDiscount);
                                                            vouchercode = voucher1.VoucherCode.ToString();
                                                        }
                                                    }
                                                }

                                            }
                                            <tr>

                                                <td>Voucher code</td>
                                                <td><strong>@vouchercode</strong></td>
                                            </tr>
                                            <tr>
                                                @{ var subtotal = total * sale / 100; }
                                                <td>Sub Total</td>
                                                <td><strong>$@subtotal.ToString("#,##0.#")</strong></td>
                                            </tr>
                                            <tr>
                                                @{
                                                    double finaltotal = total - subtotal;
                                                }
                                                <td>Total Amount</td>
                                                <td><strong>$@total_temp.ToString("#,##0.#")</strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>


                                </div>
                                <!-- Order Payment Method -->
                                <div class="order-payment-method">
                                    <button type="submit" class="btn btn-sqr">Place Order</button>
                                    <a href="Payment" class="btn btn-sqr">Checkout by MOMO</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- checkout main wrapper end -->
</main>
<!-- offcanvas mini cart start -->
 <div class="offcanvas-minicart-wrapper">
    <div class="minicart-inner">
        <div class="offcanvas-overlay"></div>
        <div class="minicart-inner-content">
            <div class="minicart-close">
                <i class="pe-7s-close"></i>
            </div>
            <div class="minicart-content-box">
                <div class="minicart-item-wrapper">
                    <ul>
                        <li class="minicart-item">
                            <div class="minicart-thumb">
                                <a href="product-details.html">
                                    <img src="assets/img/cart/cart-1.jpg" alt="product">
                                </a>
                            </div>
                            <div class="minicart-content">
                                <h6 class="product-name">
                                    <a href="product-details.html">Fusions Leather Handbags</a>
                                </h6>
                                <p>
                                    <span class="cart-quantity">1 <strong>&times;</strong></span>
                                    <span class="cart-price">$100.00</span>
                                </p>
                            </div>
                            <button class="minicart-remove"><i class="pe-7s-close"></i></button>
                        </li>
                        <li class="minicart-item">
                            <div class="minicart-thumb">
                                <a href="product-details.html">
                                    <img src="assets/img/cart/cart-2.jpg" alt="product">
                                </a>
                            </div>
                            <div class="minicart-content">
                                <h6 class="product-name">
                                    <a href="product-details.html">Quickiin Exclusive Leather Bags</a>
                                </h6>
                                <p>
                                    <span class="cart-quantity">1 <strong>&times;</strong></span>
                                    <span class="cart-price">$80.00</span>
                                </p>
                            </div>
                            <button class="minicart-remove"><i class="pe-7s-close"></i></button>
                        </li>
                    </ul>
                </div>

                <div class="minicart-pricing-box">
                    <ul>
                        <li>
                            <span>sub-total</span>
                            <span><strong>$300.00</strong></span>
                        </li>
                        <li>
                            <span>Eco Tax (-2.00)</span>
                            <span><strong>$10.00</strong></span>
                        </li>
                        <li>
                            <span>VAT (20%)</span>
                            <span><strong>$60.00</strong></span>
                        </li>
                        <li class="total">
                            <span>total</span>
                            <span><strong>$370.00</strong></span>
                        </li>
                    </ul>
                </div>

                <div class="minicart-button">
                    <a href="cart.html"><i class="fa fa-shopping-cart"></i> View Cart</a>
                    <a href="cart.html"><i class="fa fa-share"></i> Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>

